@font-face {
    font-family: 'Varela';
    font-style: normal;
    font-weight: 400;
    src: local('Varela'),
         url('../../fonts/Varela-Regular.ttf') format('truetype');
  }

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');