$primary-background-color: #292836;
$primary-color: #8845e8;

$secondary-background-color: #413e4f;
$secondary-color: #69b930;

$text-color: #fdfaf6;
$link-color: #b4b5b7;
$grey-text: #aaaaaa;

$grey-details: #7f7e81;
